.wrapper {
    width: 220px;
    height: 180px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: var(--box-shadow-blue);
    border-radius: var(--border-radius-medium);
}

.wrapper:hover {
    box-shadow: var(--box-shadow-green);
    transition: all .5s;
    font-weight: bold;
}

.wrapper_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper_item  .wrapper_name {
    margin-top: 8px;
}
.wrapper_item  .wrapper_email {
    margin-top: 8px;
}

.wrapper_item  .wrapper_phone {
    margin-top: 8px;
}

.item_bold {
    font-weight: bold;
}
