.home_container {
    margin-top: 60px;
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
}

.wrapper_one {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper_two {
    width: 550px;
    height: 800px;
}

.wrapper_users {
    width: 1270px;
    height: 460px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid #0077ff;
}

.pag_pos {
    width: 1270px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #940037;
}

.btn_goback, .btn_goforward {
    height: 150px;
    writing-mode: vertical-lr;
    text-align: center;
    border: 1px solid #0077ff;
    border-radius: 20px;
    font-weight: bold;
    background-color: #58f189;
    cursor: pointer;
}

.post_wrapper {
    width: 1240px;
    height: 320px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.post_link {
    text-decoration: none;
    color: black;
}

.wrapper_placeholder_todos {
    height: 400px;
    border: 1px solid #5a4aea;
}

.wrapper_custom_todos {
    height: 400px;
    border: 1px solid #58f189;
}