.container {
    min-width: 100%;
    min-height: 160px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-big);
    box-shadow: 1px 1px 8px 1px #5BFF7EFF;
}

.whitout_todo {
    min-width: 230px;
    padding: 10px;
    border-radius: var(--border-radius-big);
    box-shadow: var(--box-shadow-main);
}

.table_input {
    height: 30px;
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--color-gray);
    text-align: center;
    margin: 10px 10px 0 10px;
    padding: 10px;
}

.table_textarea {
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--color-gray);
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.wrapper {
    min-width: 500px;
    min-height: 120px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
    border-radius: var(--border-radius-big);
    box-shadow: var(--box-shadow-main);
}

.wrapper_input {
    min-width: 75%;
    background-color: var(--color-light-main);
}

.wrapper_textarea {
    min-width: 75%;
    background-color: var(--color-light-main);
}

.wrapper__btns {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-around;
}

.edit_btn {
    border: 2px solid #faad60;
    color: #faad60;
}
.delete_btn {
    border: 2px solid #a2001a;
    color: #a2001a;
}
.gacha_btn {
    border: 2px solid #28d528;
    color: #28d528;
}
.table_btn {
    width: 20%;
    margin: auto;
}