.navbar_container {
    width: 600px;
    height: 40px;
    /*margin: 10px auto 20px auto;*/
    margin: auto;
}

.navbar_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.navbar_content__item {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid var(--color-main);
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #93f200, #8adb05, #80c50a, #76b00e, #6b9b11);
}

.navbar_content__link {
    color: var(--color-main);
    text-decoration: none;
}
