Nav {
    width: 40%;
    height: 40px;
    list-style: none;
    text-transform: uppercase;
    font-size: x-large;
    border: 2px solid dodgerblue;
    margin-bottom: 20px;
}

ul {
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}