.postitem_wrapper {
    min-height: 120px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #1ba2eb;
    border-radius: 15px;
}

.wrapper_title {
    margin: 15px auto 10px auto;
}

.wrapper_number {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 40px;
}

.wrapper_name {
    text-transform: uppercase;
    text-decoration: underline red;
    font-weight: bold;
}

.wrapper_text {
    margin-top: 20px;
    font-size: 20px;
}

.post {
    margin: 10px;
    padding: 5px;
    width: 220px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #28d528;
}

.post_number {
    font-size: 20px;
    font-weight: bold;
}

.post_title {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}