.postitem_wrapper {
    min-height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow-green);
    border-radius: var(--border-radius-big);
}

.wrapper_title {
    margin: 15px auto 10px auto;
}

.wrapper_number {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 40px;
}

.wrapper_name {
    text-transform: uppercase;
    font-weight: bold;
}

.wrapper_text {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    background-color: var(--color-gray);
    border-radius: var(--border-radius-small);
}

.post {
    margin: 10px;
    padding: 5px;
    width: 220px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: var(--box-shadow-green);
    border-radius: var(--border-radius-medium);
}

.post:hover {
    box-shadow: var(--box-shadow-blue);
    transition: all .5s;
    font-weight: bold;
}

.post_number {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.post_title {
    margin-top: 20px;
    text-align: center;
}