.container {
    margin-top: 30px;
    min-height: 60%;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__title {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 1px #5BFF7EFF;
}

.container__table {
    border: 1px solid inherit;
    width: 500px;
    min-height: 160px;
    margin: 10px;
    border-radius: 7px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    min-width: 70%;
    min-height: 20%;
}

.container__newtodo {
    max-width: 50%;
}

.container__changetodo {
    max-width: 50%;
}