:root {
    --color-gray: #d3d1d1;
    --color-main: #4339f3;
    --color-light-main: #dfdff5;

    --border-radius-small: 3px;
    --border-radius-medium: 5px;
    --border-radius-big: 8px;

    --box-shadow-main: 1px 1px 8px 1px #0077ff
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

.top_wrapper_app {

}