.wrapper_comment {
    width: 700px;
    height: 120px;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: var(--box-shadow-blue);
    border-radius: var(--border-radius-big);
}

.wrapper_title {
    width: 680px;
    display: flex;
    justify-content: flex-start;
}

.comment_email {
    margin-left: 15px;
    text-decoration: underline;
}

.comment_title {
    margin-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.comment_body {
    background-color: var(--color-gray);
    border-radius: var(--border-radius-small);
    text-align: center;
}